<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, user-scalable=no">
    <!-- <fonts and stylesheets> -->
    <!-- <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Asap" >
    <link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Open+Sans:400,700,300,800' > -->
    <!-- <scripts> -->
    <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script> -->
    <!-- <script type="text/javascript" src="../assets/js/lib/dropdownfunction.js"></script>
    <script type="text/javascript" src="../assets/js/lib/popup.js"></script> -->
    <%= stylesheet_link_tag    'https://fonts.googleapis.com/css?family=Asap' %>
    <%= stylesheet_link_tag    'http://fonts.googleapis.com/css?family=Open+Sans:400,700,300,800' %>
    <!-- <%= javascript_include_tag 'https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js' %> -->
    <!-- <"title"> -->
    <title>brownpear</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
